@import "./reset.scss";
@import "./mixin.scss";
@import "./zlfooter.scss";

$ratio: 375 / 10;

@function px2rem($px) {
  @return $px / $ratio + rem;
}
img {
  width: 100%;
  height: 100%;
}
.forcefontsize10 {
  display: inline-block;
  font-size: 12px;
  -webkit-text-size-adjust:none;
  -webkit-transform : scale(0.83,0.83);
}

.forcefontsize8 {
  display: inline-block;
  font-size: 12px;
  -webkit-text-size-adjust:none;
  -webkit-transform : scale(0.66,0.66);
}

.forcefontsize6 {
  display: inline-block;
  font-size: 12px;
  -webkit-text-size-adjust:none;
  -webkit-transform : scale(0.5,0.5);
}
.el-progress-bar .el-progress-bar__outer {
  background-color: transparent !important;
}
.el-progress-bar__inner {
  background: linear-gradient(to right, #03B4FDFF, #FFEE22FF 440px);

}
.el-progress-bar__outer {
  //background
}
.ant-progress-inner {
  background-color: transparent !important;
}


#banner {
  width:80%;
  overflow:hidden;
  margin-top:43px;
  position:relative;
}
/* #banner .swiper-slide {
	position:relative;
	text-align:center;
} */
//#banner img {
//  max-width:100%;
//  display:block;
//}
//#banner h2 {
//  text-align:center;
//  font-size:1em;
//  height:42px;
//  line-height:42px;
//  color:#fafafa;
//  position:absolute;
//  left:0;
//  bottom:0;
//  right:0;
//  font-weight:normal;
//  text-shadow:1px 1px 1px #000;
//  /* background-color:rgba(21,20,20,0.5);*/
//  background-color:rgba(0,0,0,0);
//  background:-moz-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.7));
//  background:-webkit-gradient(linear,top,from(rgba(0,0,0,0)),to(rgba(0,0,0,0.7)));
//  background:-webkit-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.7));
//  background:-o-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.7));
//}



