.head_center{
  height: 2.18rem;
}
.head_center > .img_log{
  //margin-top: 0.50rem;
  width: 3rem;
}
.head_center > .img_diamonds{
  margin-top: -.7rem;
  width: 1.73rem;
  float: left;
  margin-left: 6.49rem;
}
.middle_data_rectangle{
  width: 7.6rem;
  margin-left: .48rem;
}
.data_button{
  margin-top: 2.03rem;
  width: 4.58rem;
  margin-left: 1.98rem;
}
